<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oschina.TableAMapper">
  <resultMap id="BaseResultMap" type="com.oschina.TableA">
    <!--@mbg.generated-->
    <result column="a" jdbcType="VARCHAR" property="a" />
  </resultMap>
  <insert id="insert" parameterType="com.oschina.TableA">
    <!--@mbg.generated-->
    insert into table_a (`a`)
    values (#{a,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oschina.TableA">
    <!--@mbg.generated-->
    insert into table_a
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="a != null">
        `a`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="a != null">
        #{a,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="list" resultType="com.oschina.TableA">
      select * from table_a
    </select>
</mapper>
